<article class="excerpt">
<!-- Image -->
<a href="{{project.url}}">
<div class="excerpt__image">
<img src="{{project.img}}" alt="{{project.title}}" />
</div>
</a>
<!-- End Image -->

<!-- Title -->
<h2 class="excerpt__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
<!-- End Title -->

<!-- Director -->
<p class="excerpt__director"><a href="{{ project.url }}">Director: {{ project.director }}</a></p>
<!-- End Director -->

<!-- With -->
<p class="excerpt__with"><a href="{{ project.url }}">With: {{ project.with }}</a></p>
<!-- End With -->

</article>