<footer>
<!-- Top -->
<div class="row footer__top">
  <div class="small-12 medium-4 columns">
  <div class="detail">Contact</div>
  <a href="mailto:{{site.email}}" class="underline-from-left">hi@katieswinden.com</a>
  <br>
  London, United Kingdom
  </div>
  
  <div class="small-12 medium-4 columns">
  <div class="detail">Follow</div>
  <a href="https://twitter.com/{{site.twitter}}">Twitter</a><br>
  <a href="http://www.imdb.com/name/{{site.imdb}}/">IMDB</a><br>
  <a href="https://vimeo.com/{{site.vimeo}}">Vimeo</a><br>
  </div>
</div>
<!-- End Top -->

<!-- Bottom -->
<div class="row expanded footer__bottom">
  <div class="small-6 medium-6 columns align-middle text-left">
  <a href="#" class="underline-from-left">© {{site.company}}</a>
  </div>
  
  <div class="small-6 medium-6 columns text-right">
  <a href="http://garethjohnsdesign.com">Colophon</a>
  </div>
</div>
<!-- End Bottom -->

</footer>
	
