// Colors
// ------


.blue {
  color: $color--blue;
  &.icon {
    fill: $color--blue;
  }
}
.green {
  color: $color--green;
  &.icon {
    fill: $color--green;
  }
}
.yellow {
  color: $color--yellow;
  &.icon {
    fill: $color--yellow;
  }
}
.teal {
  color: $color--teal;
  &.icon {
    fill: $color--teal;
  }
}
.red {
  color: $color--red;
  &.icon {
    fill: $color--red;
  }
}
.purple {
  color: $color--purple;
  &.icon {
    fill: $color--purple;
  }
}
.magenta {
  color: $color--magenta;
  &.icon {
    fill: $color--magenta;
  }
}
.orange {
  color: $color--orange;
  &.icon {
    fill: $color--orange;
  }
}
.darkest-gray {
  color: $color--darkest-gray;
  &.icon {
    fill: $color--darkest-gray;
  }
}
.darker-gray {
  color: $color--darker-gray;
  &.icon {
    fill: $color--darker-gray;
  }
}
.dark-gray {
  color: $color--dark-gray;
  &.icon {
    fill: $color--dark-gray;
  }
}
.gray {
  color: $color--gray;
  &.icon {
    fill: $color--gray;
  }
}
.white {
  color: $color--white;
  &.icon {
    fill: $color--white;
  }
}

.bg--blue {
  background: $color--blue;
  color: $color--white;
}
.bg--green {
  background: $color--green;
  color: $color--white;
}
.bg--yellow {
  background: $color--yellow;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color--white;
  }
}
.bg--red {
  background: $color--red;
  color: $color--white;
}
.bg--magenta {
  background: $color--magenta;
  color: $color--white;
}
.bg--teal {
  background: $color--teal;
  color: $color--white;
}
.bg--orange {
  background: $color--orange;
}
.bg--purple {
  background: $color--purple;
  color: $color--white;
}
.bg--darkest-gray {
  background: $color--darkest-gray;
  color: $color--white;
}
.bg--darker-gray {
  background: $color--darker-gray;
  color: $color--white;
}
.bg--dark-gray {
  background: $color--dark-gray;
  color: $color--white;
}
.bg--gray {
  background: $color--gray;
  color: $color--white;
}
.bg--light-gray {
  background: $color--light-gray;
}
.bg--lighter-gray {
  background: $color--lighter-gray;
}
.bg--lightest-gray {
  background: $color--lightest-gray;
}
.bg--white {
  background: $color--white;
}
a.bg--blue:hover {
  background: darken($color--blue, $darken--button);
}
a.bg--green:hover {
  background: darken($color--green, $darken--button);
}
a.bg--yellow:hover {
  background: darken($color--yellow, $darken--button);
}
a.bg--red:hover {
  background: darken($color--red, $darken--button);
}
a.bg--purple:hover {
  background: darken($color--purple, $darken--button);
}
a.bg--darkest-gray:hover {
  background: darken($color--darkest-gray, $darken--button);
}
a.bg--darker-gray:hover {
  background: darken($color--darker-gray, $darken--button);
}
a.bg--dark-gray:hover {
  background: darken($color--dark-gray, $darken--button);
}
a.bg--gray:hover {
  background: darken($color--gray, $darken--button);
}
.category--bg--red {
  background: $color--red;
  color: $color--white;
}
.category--bg--magenta {
  background: $color--magenta;
}
.category--bg--teal {
  background: $color--teal;
}
.category--bg--orange {
  background: $color--orange;
}
.category--bg--purple {
  background: $color--purple;
}

.post--bg--magenta {
  background: linear-gradient(to right bottom, $color--light-magenta 50%, $color--magenta 50%, $color--magenta 75%, $color--dark-magenta 75%);
}
.post--bg--teal {
  background: linear-gradient(to right bottom, $color--light-teal 50%, $color--teal 50%, $color--teal 75%, $color--dark-teal 75%);
}
.post--bg--orange {
  background: linear-gradient(to right bottom, $color--light-orange 50%, $color--orange 50%, $color--orange 75%, $color--dark-orange 75%);
}
.post--bg--purple {
  background: linear-gradient(to right bottom, $color--light-purple 50%, $color--purple 50%, $color--purple 75%, $color--dark-purple 75%);
}


