// Colors
// ------


$color--blue:   #11A0F3;
$color--green:  #25BEA1;
$color--red:    #E56134;
$color--leaf:   #8DCF3F;

$color--white: #ffffff;
$color--black: #222222;
$color--yellow: #F8EC31;
$color--light-teal: #3ec4ba; // Getting Started
$color--teal: #00A69D; // Getting Started
$color--dark-teal: #028d85; // Getting Started
$color--light-orange: #ffaf3d; // Up and Running
$color--orange: #F6931D; // Up and Running
$color--dark-orange: #CC7A1F; // Up and Running
$color--light-magenta: #ff3ea8; // Branching Out
$color--magenta: #EB008B; // Branching Out
$color--dark-magenta: #c10074; // Branching Out
$color--light-purple: #ae45aa; // Fine Tuning
$color--purple: #91278F; // Fine Tuning
$color--dark-purple: #7a1b77; // Fine Tuning

/*
$color--darkest-gray:  #374252;
$color--darker-gray:   #5A6575;
$color--dark-gray:     #8C95A3;
$color--gray:          #B1B8C4;
$color--light-gray:    #D3D8E0;
$color--lighter-gray:  #E9ECF0;
$color--lightest-gray: #F7F8FA;
*/

$color--darkest-gray:  #999a9b;
$color--darker-gray:   #5A6575;
$color--dark-gray:     #949494;
$color--gray:          #d7d7d7;
$color--light-gray:    #d6d6d6;
$color--lighter-gray:  #f8f8f8;
$color--lightest-gray: #fcfcfc;

// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base:  1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight:   -0.018em;
$letter-spacing--looser: 0.15em;
$letter-spacing--loose:  0.018em;

// Miscellaneous
// -------------

// $width--logo: 3.75rem;

$opacity--hover: 0.6;
$darken--button: 5%;

$primary-transition: all .35s cubic-bezier(.39, .575, .565, 1);
