---
layout: default
---

<!-- Content -->
<section class="about__content">
<div class="row">
	<div class="small-11 medium-10 large-8 columns">
	{{ page.content | markdownify }}
	</div>
</div>
</section>
<!-- End Content -->

<section class="about__cv">
{% assign collection = site.projects | group_by: "medium" %}
{% for group in collection %}

<div class="row">
<div class="small-12 columns">

<h2>Projects</h2>

<table class="hover">
  <tbody>
	{% assign collectionsorted = group.items | sort: 'date' | reverse %}
	{% for item in collectionsorted %}
    <tr>
      <td width="200"><a href="{{item.url}}">{{item.title}}</a></td>
      <td width="200"><a href="{{item.url}}">{{item.director}}</a></td>
      <td width="400"><a href="{{item.url}}">{{item.with}}</a></td>
      <td width="50"><a href="{{item.imdb}}" target="_blank">IMDB</a></td>
      <td width="40"><a href="{{item.url}}">{{item.date | date: '%Y'}}</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>

</div>
</div>
{%endfor%}
</section>