<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

{% include head.html %}

<body>
	
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}



<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Animation -->
<div class="animated fadeIn">
<!-- Content -->
<section class="content">
{{ content }}
</section>
<!-- End Content -->
</div>
<!-- End Animation -->


<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->
</body>
{% include scripts.html %}

</html>
