---
layout: default
---

<!-- Post Title -->
<div class="row project__meta">
	<div class="small-12 medium-8 columns">
		<h1>{{ page.title }}</h1>
		{{ page.company }}<br>
		{{ page.runtime }}<br>
		{% if page.awards %}{{ page.awards }}<br>{% endif %}
		<span class="detail">Director(s)</span> {{ page.director }}<br>
		<span class="detail">Writer(s)</span> {{ page.writer }}<br>
		<span class="detail">Producer(s)</span> {{ page.producers }}<br>
		<span class="detail">With</span> {{ page.with }}<br>
		<a href="{{ page.imdb}}" class="detail" target="_blank">IMDB</a>
	</div>
</div>

{% if page.video or page.img %}
<div class="row post__hero">
<div class="small-12 medium-10 large-8 columns">
{% if page.video %}

<div class="flex-video widescreen vimeo">

<iframe src="https://player.vimeo.com/video/{{page.video}}?autoplay=0&color=FFFFFF&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>

{% elsif page.img %}
<img src="{{page.img}}" alt="{{page.title}}" />
{% endif %}

</div>
</div>
{% endif %}


<div class="row post__content">
	<div class="small-11 medium-10 large-7 column">
		{{ page.content }}
	</div>
</div>

<!-- Post Share Bottom -->
<div class="row post__share__bottom">
	<div class="small-12 columns">
		<ul class="menu simple">
			{% include sharing.html %}
	  	</ul>
	</div>
</div>
<!-- End Post Share Bottom -->


<div class="post__pagination">
<div class="row">
  <div class="small-6 columns">
  {% if page.previous.url %}
  
    <p><a class="prev" href="{{page.previous.url}}"><svg class="icon icon-arrow-left8"><use xlink:href="#icon-arrow-left8"></use></svg> Previous</a></p>
    <p class="hide-for-small-only"><a class="dark-gray prev" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
    
  {% endif %}
  </div>
  <div class="small-6 columns text-right">
  {% if page.next.url %}
    
    <p><a class="next text-right" href="{{page.next.url}}">Next <svg class="icon icon-arrow-right8"><use xlink:href="#icon-arrow-right8"></use></svg></a></p>
    <p class="hide-for-small-only"><a class="dark-gray next text-right" href="{{page.next.url}}">{{page.next.title}}</a></p>
   </div>
  {% endif %}
</div>
</div>


