---
layout: default
---

<section class="category__header category--bg--{{ page.color }}">


<div class="row category__header__content">
	<div class="small-12 columns text-center">
		<h6 class="category__title {% if page.color %} {{page.color}}{% endif %}">{{page.title}}</h6>
		<h1>{{page.header}}</h1>
		<p class="lead">{{page.subheader}}</p>
		<p>{{page.lead-paragraph}}</p>
		<svg class="icon icon-arrow-down4"><use xlink:href="#icon-arrow-down4"></use></svg>
	</div>
</div>


</section>

<div class="row">
{% assign tag = page.title | downcase %}
{% assign tag_posts = site.tags[tag] %}
{% for post in tag_posts %}
<div class="small-12 medium-6 large-4 columns">
{% include excerpt.html %}
</div>
{% endfor %}
</div>